*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana, sans-serif;
}
a{
    text-decoration: none;
}
#container{
    width: 90%; height: auto;  margin-left: 5%; background-color: #e4dbbf;
}
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('../images/icons/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 2px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 25px 10px 25px 0px;
    float: right;
}
input[type=text]:focus {
    width: 100%;
}
/*nav*/
nav{
    width: 100%; height: auto; float: left;
}
nav ul{
    width: 100%; background-color: #424242; list-style-type: none;
}
nav li{
    display: inline-block; position: relative; width: 120px;
}
nav li a{
    display: inline-block; text-align: center; display: block; text-decoration: none;
    padding: 12px 5px; font-size: 16px; color: white;
}
nav li a:hover{
    background-color: #008f68;
}
.sub li{ display: block;}
.sub{
    display: none; position: absolute;
}
#pull{display: none;}
nav li.hide:hover .sub{
    display: inline-block;
}
a#pull{
    padding: 12px 5px; font-size: 20px; text-decoration: none; color: white;
}
ul { z-index: 1}
/*-----------------------------*/
div#left_top{
    margin: 5px;
}
#left_top a{
    color: #dc5b21;
}
#left{
    width: 70%; height: auto; float: left;
}
#leftLeft{
    width: 40%; height: auto; float: left;
}
div#leftLeft img{
    width: 100%; height: auto;padding: 3%;
}
#leftRight{
    width: 60%; height: auto; float: left; padding: 3%;
}
#leftRight p:first-child{
    font-size: 24px; margin-bottom: 1%;
}
#leftRight p.tittle{
    text-align: center; margin-left: 13%;
}
button[type=button]{
    width: 30%; background-color: #e4dbbf; border: 1px solid darkgray;
    font-size: 13px; padding: 5px; color: white;
}
button[type=button] a{
    color: white;
}
button[type=button]:hover{
    background-color: #6a9a1f;
}
#leftRight p.gt, #leftRight p.gt1{
    float: left; padding: 3%; font-size: 13px; text-align: left;
}
p.gt:first-child{
    margin-top: 10px;
}
a#tt{
    float: right; margin-right: 5%; font-size: 12px;
}
/*--------------------------------*/
#right{
    width: 29%; float: right; padding: 5px;
}
#intro{
    padding: 3px 0 15px 15px; font-size: 13px; color: #70ab8f;
}
.introduce p{
    font-size: 16px; font-weight: 600; color: orangered; padding: 5px; border: 1px solid darkgray;
}
.hot{
    border: 1px solid darkgray; margin-top: 15px; padding: 5px;
}
.introduce div.hot p{
    font-weight: 600; font-size: 14px; border: none; padding-left: 10px;
}
.introduce div.hot p a {
    padding-left: 5%; text-decoration: none; color: blue;
}
.hot p a{
    text-decoration: none; font-weight: 500; color: #dc5b21; font-size: 13px;
}
.hot p a:hover{
    font-weight: 600; color: #008f68;
}
#number{
    width: 100%; height: 25px; margin-left: 35%;
}
#number ul{
    list-style-type: none;
}
#number li{
    display: inline-block;
}
#number li a{
    display: inline-block; color: blue; text-decoration: none;
    width: 25px; height: 25px;
}
#number li a:hover{
    background-color: cadetblue; color: white; margin-top: 15px;
}
footer{
    width: 100%; clear: both; height: 50px; background-color: #383127;
    font-size: 14px; text-align: center; font-weight: 600; color: white; position: relative;
}
footer p{
    margin-top: 20px; position: absolute; text-align: center; width: 100%;
}
#update{
    width: 100%; height: auto; clear: both;
}
.ten{
    border: 1px solid darkgray; margin: 5px;
}
.ten p{
    width: 70%; height: auto; margin-left: 5%; font-size: 14px; padding: 12px 12px 12px 15px; color: #dc5b21;
}
.ten a{
    font-size: 13px; padding: 10px; text-decoration: none; color: blue;
}
.ten a:hover{
    font-weight: 600; color: #008f68;
}
.ten a:active{
    color: #008f68;
}
.list{
    width: 100%; height: auto; margin: 5px -5px 5px 5px; border: 1px solid darkgray;
}
#list1{
    font-size: 14px; text-align: left; padding: 15px; margin-left: 5%; color: #dc5b21;
}
.pNum{
    width: 100%; text-align: center; margin: 10px;
}
.pNum a{
    font-size: 14px;
    padding:15px; text-decoration: none;
}
.pNum a:hover{
   color: #008f68; font-weight: 600;
}
.list ul{
    width: 100%; height: auto; list-style-type: none;
}
.list ul li{
    width: 50%; float: left; text-align: center;
}
.list ul li a{
    text-decoration: none; font-size: 13px; padding: 10px; display: block;color: blue;
}
.list ul li a:hover{
    font-weight: 600; color: #008f68;
}
.tittle a{ color: #dc5b21}
#introduce{
    height: 85px;
    overflow: hidden;
}
/*--------------------------------*/
@media only screen and (max-width: 768px) {
    /*header*/
    header {
        width: 100%;
        height: 80px;
        position: relative;
    }
    #logo {
        width: 100%;
        position: relative;
    }
    #logo img {
        height: 100%;
        width: 80px;
        float: left;
    }
    #logo p {
        font-size: 26px;
        color: #dc5b21;
        margin: 25px 0px 25px 85px;
        font-weight: 600;
        position: absolute;
        float: left;
    }
    header form {
        width: 100%;
        height: 80px;
    }
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #383127;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content: "";
        /*background: url('../images/icons/nav-animation.gif') no-repeat;*/
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 10px;
    }
    nav li {
        display: inline-block;
        position: relative;
        width: 100px;
        font-size: 14px;
    }
    a#pull {
        padding: 12px 5px;
        text-decoration: none;
        color: white; font-size: 13px;
    }
    #right{
        width: 100%; padding: 5px;
    }
    .introduce p{
        font-size: 14px; font-weight: 600; color: orangered; padding: 5px; border: 1px solid white;
    }
    .hot{
        border: 1px solid white; margin-top: 15px; padding: 5px;
    }
    .introduce div.hot p{
        font-weight: 600; font-size: 14px; border: none; padding-left: 10px;
    }
    .introduce div.hot p a {
        padding-left: 5%; text-decoration: none; color: blue;
    }
    .hot p a{
        text-decoration: none; font-weight: 500; color: #dc5b21; font-size: 13px;
    }
    #left{
        width: 100%; height: auto;
    }
    #leftLeft{
        width: 40%; height: auto; float: left;
    }
    div#leftLeft img{
        width: 100%; height: auto;padding: 3%;
    }
    #leftRight{
        width: 60%; height: auto; float: left; padding: 3%;
    }
    #leftRight p:first-child{
        font-size: 24px; margin-bottom: 1%;
    }
    #leftRight p.tittle{
        text-align: center; margin-left: 13%;
    }
    button[type=button]{
        width: 30%; height: 40px; background-color: #e4dbbf; border: 1px solid darkgray;
        font-size: 14px; padding: 2px;
    }
    #leftRight p.gt, #leftRight p.gt1{
        float: left; padding: 3%; font-size: 16px; text-align: left;
    }
    p.gt:first-child{
        margin-top: 10px;
    }
    a#tt{
        float: right; margin-right: 5%;
    }
    a#tg{
        font-size: 13px;
    }
    #number{
        width: 100%; height: 25px; margin-left: 20%;
    }
    #number ul{
        list-style-type: none;
    }
    #number li{
        display: inline-block;
    }
    #number li a{
        display: inline-block; color: blue; text-decoration: none;
        width: 25px; height: 25px;
    }
    #number li a:hover{
        background-color: cadetblue; color: white;
    }
    #left_top a{ font-size: 12px}
    .tittle a{font-size: 14px; font-weight: 600}
    button[type=button]{
        width: 30%; background-color: #e4dbbf; border: 1px solid darkgray;
        font-size: 12px; padding: 5px; color: white;
    }
    button[type=button]:hover{
        background-color: #6a9a1f;
    }
    #leftRight p.gt, #leftRight p.gt1{
        font-size: 12px;
    }
    #intro{font-size: 11px}
    nav li a{
        font-size: 12px;
    }
    form{
        display: none;
    }
}
/*-------------------------------------------*/
@media only screen and (min-width: 768px) {
    /*header*/
    header {
        width: 100%;
        height: 80px;
        position: relative;
    }

    #logo {
        width: 50%;
        position: relative;
    }

    #logo img {
        height: 100%;
        width: 80px;
        float: left;
    }

    #logo p {
        font-size: 26px;
        color: orangered;
        margin: 25px 0px 25px 85px;
        font-weight: 600;
        position: absolute;
        float: left;
    }

    header form {
        width: 50%;
        height: 80px;
        float: right;
    }
}